Today's warm-up:

1. Copy your env.py file into your time-series-exercises directory


2. Ensure env.py is added to your .gitignore file


3. In your SQL client, write a query to acquire data from the 3 tables in the tsa_item_demand database. The tables should be joined in the sql query.


4. Open a jupyter notebook, import env and pandas, and define the function, get_connection(db, user, host, password) , that opens the connection to the sql database  (hint: you've written this function before, so reference that if needed).


6. Create a variable query that stores the sql query you wrote in #3.


7. Using the function, pandas.read_sql() , run your query in the tsa_item_demand database.

In [1]:
# Disable warnings

import warnings
warnings.filterwarnings("ignore")

# Import libraries 

import pandas as pd

# acquire
from env import host, user, password

from sklearn.model_selection import train_test_split
import sklearn.preprocessing

In [2]:
def get_connection(db, user=user, host=host, password=password):
    '''
    This function uses my info from my env file to
    create a connection url to access the Codeup db.
    It takes in a string name of a database as an argument.
    '''
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [3]:
query = '''
select * 
from sales
left join items using(item_id)
left join stores using(store_id);
'''

In [4]:
df = pd.read_sql(query, get_connection('tsa_item_demand'))

In [5]:
df.head()

,store_id,item_id,sale_id,sale_date,sale_amount,item_upc14,item_upc12,item_brand,item_name,item_price,store_address,store_zipcode,store_city,store_state
0,1,1,1,2013-01-01,13,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
1,1,1,2,2013-01-02,11,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
2,1,1,3,2013-01-03,14,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
3,1,1,4,2013-01-04,13,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,78253,San Antonio,TX
4,1,1,5,2013-01-05,10,35200264013,35200264013,Riceland,Riceland American Jazmine Rice,0.84,12125 Alamo Ranch Pkwy,78253,San Antonio,TX